#subheaderDiv{
color:black;
font-size:40pt;
}

#homeDiv{

}

#flipperDiv{
float:left;
}

#teacherDiv{
float:left;
}

#batmanDiv{
float:left;

}

#parrotDiv{
float:left;
}


#firstDiv{
color:yellow;
background-color:black;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#secondDiv {
color:yellow;
background-color: black;
height:160x;
width:500px;
}

#thirdDiv{
color:#6495ED;
background-color:yellow;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#fourthDiv {
color:#6495ED;
background-color: yellow;
height:160x;
width:500px;
}

#fifthDiv{
color:#FFA500;
background-color:#FF4500;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#sixthDiv {
color:#FFA500;
background-color:#FF4500;
height:160x;
width:500px;
}

#seventhDiv{
color:yellow;
background-color:black;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#eightDiv {
color:yellow;
background-color: black;
height:160x;
width:500px;
}