#subheaderDiv{
color:black;
font-size:40pt;
}

#homeDiv{

}

#flipperDiv{
float:left;

}
#flipperDiv:hover{
float:left;
border-style:solid;
border-color:black;
border-width:2px;
}

#teacherDiv{
float:left;
}
#teacherDiv:hover{
float:left;
border-style:solid;
border-color:black;
border-width:2px;
}

#batmanDiv{
float:left;
}
#batmanDiv:hover{
float:left;
border-style:solid;
border-color:black;
border-width:2px;
}

#parrotDiv{
float:left;
}
#parrotDiv:hover{
float:left;
border-style:solid;
border-color:black;
border-width:2px;
}

#firstDiv{
color:yellow;
background-color:black;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#secondDiv {
color:yellow;
background-color: black;
height:160x;
width:500px;
}

#thirdDiv{
color:#6495ED;
background-color:yellow;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#fourthDiv {
color:#6495ED;
background-color: yellow;
height:160x;
width:500px;
}

#fifthDiv{
color:#FFA500;
background-color:#FF4500;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#sixthDiv {
color:#FFA500;
background-color:#FF4500;
height:160x;
width:500px;
}

#seventhDiv{
color:black;
background-color:#FFDEAD;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#eightDiv {
color:black;
background-color:#FFDEAD;
height:160x;
width:500px;
}

#batmanBack {
color:black;
background-color:white;
height:17px;
width:120px;
border-style:solid;
border-color:black;
font-size:12pt;
font-family:arial;
text-align:center; 
border-width:1px;
}

#parrotBack {
color:black;
background-color:white;
height:17px;
width:120px;
border-style:solid;
border-color:black;
font-size:12pt;
font-family:arial;
text-align:center; 
border-width:1px;
}

#teacherBack {
color:black;
background-color:white;
height:17px;
width:120px;
border-style:solid;
border-color:black;
font-size:12pt;
font-family:arial;
text-align:center; 
border-width:1px;
}

#flipperBack {
color:black;
background-color:white;
height:17px;
width:120px;
border-style:solid;
border-color:black;
font-size:12pt;
font-family:arial;
text-align:center; 
border-width:1px;
}