#firstDiv{
color:yellow;
background-color:black;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#secondDiv {
color:yellow;
background-color: black;
height:160x;
width:500px;
}

#thirdDiv{
color:yellow;
background-color:blue;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#fourthDiv {
color:yellow;
background-color: blue;
height:160x;
width:500px;
}

#fifthDiv{
color:yellow;
background-color:black;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#sixthDiv {
color:yellow;
background-color: black;
height:160x;
width:500px;
}

#seventhDiv{
color:yellow;
background-color:black;
height: 90px;
width:500px;
font-size:60pt;
text-align:center;
}

#eightDiv {
color:yellow;
background-color: black;
height:160x;
width:500px;
}